<h1><center>Product Details</center></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <% if @orders.product.images.present? %>
        <p>
          <%= image_tag @orders.product.images.first.file.url, :size => "260x180" %>
        </p>
      <% else %>
          <%= image_tag("default.png", :size => "260x180") %>
      <% end %>
    </div>
    <div col-md-3>
      <p>
        <strong>User Id: </strong>
        <%= @orders.user_id %>
      </p>
      <p>
        <strong>Product Id: </strong>
        <%= @orders.product_id %>
      </p>
      <p>
        <strong>Payment Mode: </strong>
        <%= @orders.payment %>
      </p>
      <p>
        <strong>Status: </strong>
        <%= @orders.status %>
      </p>
      <p>
        <strong>Expected Delivery Time: </strong>
        <%= expected_delivery_date(@orders.product) %>
      </p>
      <%= link_to 'Back', orders_path, class: "btn btn-primary" %>
    </div>
    <div class="row">
      <% if @orders.product.images.present? %>
        <h3><u>More Images</u>:-</h3>
        <% @orders.product.images.each do |image| %>
          <div class="col-md-3">
            <p>
              <%= image_tag image.file.url, :size => "260x180" %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>