<div class="container">
  <div class="row">
    <div class="col-md-offset-4">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <span class="profile-picture">
        <% if @user.image.present? %>
          <p>
            <%= image_tag @user.image.url, :size => "220x200" %>
          </p>
        <% else %>
          <p>
            <%= image_tag @user.image.url, :size => "220x200" %>
          </p>
        <% end %>
      </span>
    </div>
    <div class="col-md-4">
      <h4 class="profile-info-value">
        User Id:<span> <%= current_user.id%></span>
      </h4>
      <h4 class="blue">
        Name: <span class="middle"><%= current_user.name %></span>
      </h4>
      <div class="profile-user-info">
        <div class="profile-info-row">
          <h4 class="profile-info-value">
            Email:<span> <%= current_user.email%></span>
          </h4>
        </div>

        <div class="profile-info-row">
          <h4 class="profile-info-value">
            Mobile:<span> <%= current_user.mobile%></span>
          </h4>
        </div>

        <div class="profile-info-row">
          <h4 class="profile-info-value">
            Address:<span> <%= current_user.address%></span>
          </h4>
        </div>

        <div class="profile-info-row">
          <h4 class="profile-info-value">
            Your Role:<span> <%= current_user.role%></span>
          </h4>
        </div>

        <div class="profile-info-row">
          <h4 class="profile-info-value">
            <%= link_to "Edit Profile", edit_user_registration_path(current_user.id), class: "btn btn-primary btn-md"%>
            <%= link_to "Back",   welcome_home_path, class: "btn btn-primary" %>
          </h4>
      </div>
    </div>
  </div>
</div>