<br><br>
<% if current_user.present? %>
  <% if is_customer? %>
    <hr>
    <h3><b>Categories</b>:-</h3>
    <hr>
    <%= link_to category_path(3) do %>
      <%= image_tag 'vehicle1', class: "img-thumbnail img-fluid ",:size => "300x180", alt: 'Vehicles'%>
    <% end %>
    <%= link_to category_path(1) do %>
      <%= image_tag 'fashion', class: "img-thumbnail img-fluid",:size => "245x180", alt: 'Fashions' %>
    <% end %>
    <%= link_to category_path(2) do %>
      <%= image_tag 'electronic1', class: "img-thumbnail img-fluid",:size => "295x180", alt: 'Electronics' %>
    <% end %>
  <% else %>
    <h3> sp </h3>
  <% end %>
<% end %>