<br><br><p class="h1">Categories</p> 
<table class="table">
  <thead>
    <tr>
      <th></th> 
      <th>Name</th>
      <th>Price</th>
      <th>Brand_Name</th>
      <% if is_seller? %>
        <th> Expected Delivery Days </th>
      <% end %>
      <% if is_customer? %>
        <th>Actions</th>
      <% else %>
        <th><center>Actions</center></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% @categories.each do |p| %>
    <tr>
      <% if p.images.present? %>
        <p>
          <td><%= image_tag p.images.first.file.url, width: 28 %></td>
        </p>
      <% else %>
        <td><%= image_tag("default.png", width: 35) %></td>
      <% end %>
      <td><%= p.name %></td>
      <td><%= p.price %></td>
      <td><%= p.brand_name %></td>
      <% if is_customer? %>
        <td><%= link_to 'Show', product_path(p.id), class: "btn btn-info" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
