<% products.each do |p| %>
  <tr>
    <% if p.images.present? %>
      <p>
        <td><%= image_tag p.images.first.file.url, width: 28 %></td>
      </p>
    <% else %>
      <td><%= image_tag("default.png", width: 35) %></td>
    <% end %>
    <td><%= p.name %></td>
    <td><%= p.price %></td>
    <td><%= p.brand_name %></td>
    <td><%= delivery_days(p) if is_seller? %></td>
    <td><%= link_to 'Show', product_path(p.id), class: "btn btn-info" if is_customer? %></td>
    <% if is_seller? %>
      <td><%= link_to 'Edit', edit_product_path(p), class: "btn btn-primary" %></td>
      <td><%= link_to 'Show', product_path(p), class: "btn btn-info" %></td>
      <td><%= link_to 'Delete', product_path(p), class: "btn btn-danger",
              method: :delete, 
              data: { confirm: 'Are You Sure?' }%></td>
    <% end %>
  </tr>
<% end %>