<br><br><h1>Edit Product</h1>
 
<%= form_for(@product, :url => product_path, method: :patch) do |form| %>
  <%= render partial: '/shared/error' %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </p>
   
  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price, required: true %>
  </p>
 
  <p>
    <%= form.label :brand_name %><br>
    <%= form.text_field :brand_name, required: true %>
  </p>

  <p>
    <%= form.label :quantity %><br/>
    <%= form.text_field :quantity, required: true %>
  </p>

  <div id="images">
    <%= form.fields_for :images do |ff| %>
      <%= render 'edit_image_fields', f: ff %><br />
      <% end %>
    <%= link_to_add_association 'Add Image', form, :images, class: "btn btn-primary" %>
  </div>

   <p>
    <%= form.fields_for :delivery_time, @product.delivery_time do |ff|%> 
      <%= ff.label  :number_of_days %>
      <%= ff.select :number_of_days, ((1..10).to_a) %>
    <% end %>
  </p><br/>

  <p>
    <%= form.submit %>
  <%= link_to 'Back', products_path, class:"btn btn-primary" %>
  </p>
 
<% end %>
 