<h1><%= is_seller? ? 'Listing Products' : 'Products' %></h1>
<%= form_with url: products_path, local: true, method: 'GET' do |f| %>
  <% if params[:sub_category_id].present?%>
    <%= f.select :item, options_for_select(SubCategory.find(params[:sub_category_id]).items.map { |u| [u.name, u.id] }), prompt: 'Select Item' %>
  <% else %>
    <%= f.select :item, options_for_select(Item.all.map { |u| [u.name, u.id] }), prompt: 'Select Item' %>
  <% end %>
  <%= f.select :variant, options_for_select(Variant.all.map { |u| [u.name, u.id] }), prompt: 'Select Variant' %>
  <%= f.select :variant_value, prompt: 'Select Variant values' %>
  <%= f.submit 'Filter',class: 'btn btn-primary btn-sm'%>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th></th> 
      <th>Name</th>
      <th>Price</th>
      <th>Brand_Name</th> 
      <th><%= 'Expected Delivery Days' if is_seller? %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= link_to 'Add Products', new_product_path, class: "btn btn-primary pull-right" if is_seller? %>
    <div class='product-list'>
      <%= render partial: 'product_list', locals: { products: @products } %>
    </div>
  </tbody>
</table>
<nav class="navbar navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div> 
  </div>
</nav>