<h1><%= is_seller? ? 'Listing Products' : 'Products' %></h1>
<%= select_tag :item, options_for_select(Item.all.map { |u| [u.name, u.id] }), prompt: 'Select Item' %>
<%= select_tag :variant, options_for_select(Variant.all.map { |u| [u.name, u.id] }), prompt: 'Select Variant', data: { remote: true } %>
<%= select_tag :value, prompt: 'Select Variant values' %>
<%= link_to 'Filter', products_path, class: 'btn btn-primary btn-sm'%>
<table class="table">
  <thead>
    <tr>
      <th></th> 
      <th>Name</th>
      <th>Price</th>
      <th>Brand_Name</th> 
      <th><%= 'Expected Delivery Days' if is_seller? %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= link_to 'Add Products', new_product_path, class: "btn btn-primary pull-right" if is_seller? %>
    <div class='product-list'>
      <%= render partial: 'product_list', locals: { products: @products } %>
    </div>
  </tbody>
</table>
<nav class="navbar navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div> 
  </div>
</nav>