<br><br><p class="h1">Listing Products</p> 
<table class="table">
  <thead>
    <tr>
      <th></th> 
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Brand_Name</th>
      <% if is_seller? %>
        <th> Expected Delivery Days </th>
      <% end %>
      <% if is_customer? %>
        <th>Actions</th>
      <% else %>
        <th><center>Actions</center></th>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% @product.each do |p| %>
    <tr>
      <% if p.image.present? %>
        <p>
          <td><%= image_tag p.image_url, width: 28%></td>
        </p>
      <% else %>
        <p>
          <td><%= image_tag p.image_url, width: 28 %></td>
        </p>
      <% end %>
      <td><%= p.name %></td>
      <td><%= p.category %></td>
      <td><%= p.price %></td>
      <td><%= p.brand_name %></td>
      <% if is_seller? %>
        <td><%= delivery_days(p) %></td>
      <% end %>
      <% if is_customer? %>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Show', product_path(p.id) %></button></td>
      <% else %>
      <td><button type="button" class="btn btn-info"><%= link_to 'Edit', edit_product_path(p) %></button></td>
      <td><button type="button" class="btn btn-warning"><%= link_to 'Show', product_path(p) %></button></td>
      <td><button type="button" class="btn btn-danger"><%= link_to 'Delete', product_path(p), 
              method: :delete, 
              data: { confirm: 'Are You Sure?' }%></button></td>
      <% end %>
    </tr>
  <% end %>
  <% if is_seller? %>
    <button type="button" class="btn btn-info pull-right" ><%= link_to 'Add Products', new_product_path %></button>
  <% end %>
</table>
<nav class="navbar navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <%= will_paginate @product, renderer: BootstrapPagination::Rails %>
    </div> 
  </div>
</nav>