<p class="h1"><% is_seller? ? 'Listing Products' : 'Products' %></p>
<%= link_to '5 Star Product', products_path(rating: 5), remote: true , class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th></th> 
      <th>Name</th>
      <th>Price</th>
      <th>Brand_Name</th> 
      <th><%= 'Expected Delivery Days' if is_seller? %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= link_to 'Add Products', new_product_path, class: "btn btn-primary pull-right" if is_seller? %>
    <div class='product-list'>
      <%= render partial: 'product_list', locals: { products: @products } %>
    </div>
  </tbody>
</table>
<nav class="navbar navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div> 
  </div>
</nav>
