<br><br><h3>Fill Product Details</h3>
<%= form_with scope: :product, url: products_path, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </p>
  <p>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :brand_name %>
    <%= form.text_field :brand_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>