<br><br><h3>Fill Product Details</h3>
<%= form_for @product, url: products_path, local: true do |form| %>
  <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product.errors.count, "error") %> prohibited
          this product from being saved:
        </h2>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name, required: true %>
  </p>
  
  <p>
    <%= form.label :category %><br/>
    <%= form.text_field :category, required: true %>
  </p>

  <p>
    <%= form.label :price %><br/>
    <%= form.text_field :price, required: true %>
  </p>

  <p>
    <%= form.label :brand_name %><br/>
    <%= form.text_field :brand_name, required: true %>
  </p><br/>

  <p>
    <%= form.fields_for :delivery_time, @product.delivery_time do |ff|%>

    <%#= form.fields_for :delivery_time do |ff| %>
      <%= ff.label  :number_of_days %>
      <%= ff.select :number_of_days, ((1..10).to_a) %>
    <% end %>
  </p><br/>

  <p>
    <%= form.submit %>
    <button type="button" class="btn btn-warning"><%= link_to 'Back', products_path %></button>
  </p>
  
<% end %>
