<br><br><h3>Fill Product Details</h3>
<%= form_for @product, url: products_path, multipart: true, local: true do |form| %>
  <%= render partial: '/shared/error' %>
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name, required: true %>
  </p>

  <p>
    <%= form.label  :category %>
    <%= form.select :category, options_for_select(Category.all.map { |u| [u.name, u.id] }) %>
  </p>
  
  <p>
    <%= form.label  :sub_category %>
    <%= select_tag :sub_category, options_for_select(SubCategory.all.map { |u| [u.name, u.id] }) %>
  </p>

  <p>
    <%= form.label :price %><br/>
    <%= form.text_field :price, required: true %>
  </p>

  <p>
    <%= form.label :brand_name %><br/>
    <%= form.text_field :brand_name, required: true %>
  </p>

  <p>
    <%= form.label :quantity %><br/>
    <%= form.text_field :quantity, required: true %>
  </p>
  
  <div id="images">
    <%= form.fields_for :images do |ff| %>
      <%= render 'image_fields', f: ff %><br />
      <%= link_to_add_association 'Add Image', form, :images, class: "btn btn-primary" %>
    <% end %>
  </div>

  <br /><p>
    <%= form.fields_for :delivery_time, @product.delivery_time do |ff|%>
      <%= ff.label  :number_of_days %>
      <%= ff.select :number_of_days, ((1..10).to_a) %>
    <% end %>
  </p>

  <p>
    <%= form.submit "submit", class: "btn btn-success" %>
    <%= link_to 'Back', products_path, class: "btn btn-primary" %>
  </p>
  
<% end %>
